.husky/
.idea/
node_modules/
src/

assets/

.git/
.gitignore

.nvmrc

.huskyrc

tsconfig.json
tsconfig.build.json

.eslintrc.json
eslint.config.js
eslint.config.mjs
.lintstagedrc.json
.prettierignore
prettier.config
.prettierrc.json
.prettierrc

yarn.lock
yarn-error.log